@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;

}

.cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(136, 87, 14);
    border-radius: 50%;
    position:absolute;
}

#delete{
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

button:hover{
    background-color: grey;
}

#delete:hover{
    background-color: brown;
}

